<!-- <div class="main">
  <h2>Main component</h2>
  <ul>
    <li>hola</li>
    <li>hola</li>
    <li>hola</li>
    <li>hola</li>
  </ul>
  <app-counter></app-counter>
</div> -->
<!-- <app-binding></app-binding>

<app-name-list></app-name-list> -->
<h2>Main</h2>
<!-- <app-proyeccion>
  <h2 class="h2">hola desde padre</h2>
  <input type="text" [(ngModel)]="name" />
  <button (click)="showText()">Click</button>
</app-proyeccion> -->

<!-- <app-bidirectinal [(name)]="name"></app-bidirectinal>
<button (click)="showText()">Click</button> -->
<!-- <app-pipes></app-pipes> -->
<!-- <div>
  <a routerLink="/pipes">Pipes</a>
  <br />
  <a routerLink="/bidi">Bidi</a>
  <br />
  <a routerLink="/proyec/1/hola.com">Proye</a>
  <a [routerLink]="['/proyec', getData(), 'hola.com']">Proye</a>
  <br />
  <a routerLink="/binding">Binding</a>
  <br />
  <a routerLink="/home">Binding</a>
</div> -->

<div>
  {{ isAuthUser }}
  <button (click)="giveAcces()">DAR ACCESO</button>
</div>

<a routerLink="/home">Home</a>
<br />
<a routerLink="/home/bidi">Home - bidi</a>
<br />
<a routerLink="/home/pipe">Home - pipe</a>

<router-outlet></router-outlet>
